{{ define "comp.forgot-password" }}
<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container is-max-tablet">
      <h1 class="title">Forgot Password</h1>
      <form hx-post="/api/user-password-reset" hx-headers='js:{
              Email: document.getElementById("email").value, 
            }'>
        <div class="field">
          <input id="email" class="input" type="text" placeholder="Email" value="" />
        </div>
        <button class="button is-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</section>
{{ end }}