{{ define "comp.forgot-password-attempt" }}
<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container is-max-tablet content">
      <h1 class="title">Reset Password</h1>
      <ul>
        <li>Must have a lowercase letter.</li>
        <li>Must have an uppercase letter.</li>
        <li>Must have a number.</li>
        <li>Must have a special character.</li>
      </ul>
      <form hx-put="/api/user-password-reset" hx-headers='js:{
              newPassword: document.getElementById("newPassword").value,
              checkPassword: document.getElementById("checkPassword").value,
              id: (new URLSearchParams(window.location.search)).get("id"),
              key: (new URLSearchParams(window.location.search)).get("key")
            }'>
        <div class="field">
          <input id="newPassword" class="input" type="password" placeholder="Password" value="" />
        </div>
        <div class="field">
          <input id="checkPassword" class="input" type="password" placeholder="Re-Enter Password" value="" />
        </div>
        <button class="button is-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</section>
{{ end }}