{{ define "comp.setup-mfa" }}
<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container is-max-tablet">
      <h1 class="title">Setup MFA</h1>
      <img src="{{.Image}}" alt="Blank" />
      <p> Key: <span id="key">{{.Key}}<span></p>
      <br />
      <div id="validate-button">
        <a hx-get="/comp/setup-mfa?form" hx-swap="outerHTML" hx-target="#validate-button" class="button is-primary"
          href="/validate-mfa">Validate Key</a>
        <a class="button is-secondary" href="/dashboard">Cancel</a>
      </div>
    </div>
  </div>
</section>
{{ end }}