{{ define "comp.setup-mfa-form" }}
<section class="container is-max-tablet">
  <p>Get the code from your third-party authenticator app:</p>
  <form hx-put="/api/validate-mfa" hx-swap="none" hx-headers='js:{
            Code: document.getElementById("code").value,
            Key: document.getElementById("key").innerText 
          }'>
    <div class="field">
      <input id="code" class="input" type="text" placeholder="Code" value="" />
    </div>
    <div class="level">
      <button class="button is-primary" type="submit">Submit</button>
      <a class="button is-secondary" href="/dashboard">Cancel</a>
    </div>
  </form>
</section>
<script>
  // Redirect on successful submission
  document.body.addEventListener("htmx:afterRequest", (event) => {
    const contentType = event.detail.xhr.getResponseHeader("Content-Type");
    if (contentType && contentType.includes("text/html")) {
      return;
    }

    var status = event.detail.xhr.status;
    console.log(status);
    if (200 === status) {
      window.location.href = "/dashboard";
    }
  });
</script>
{{ end }}